<app-header title="CÁLCULO DE PRODUCTOS" titleSize="title-medium" icon="fa-solid fa-box fa-2x"></app-header>

<ion-content>
  <div class="px-8">
    <div class="percentages-container">
       <!-- Provider Input -->
      <app-select-input class="my-8" inputName="providersSelect" label="Seleccionar Proveedor"  
      [options]="providers()" [(bindedObject)]="selectedProviderId" [required]="false">
        @for (provider of providers(); track $index) {
            <ion-select-option [value]="provider.id">{{ provider.companyName }}</ion-select-option>
        }
      </app-select-input>

      <!-- Provider Percentages Menu -->
      <app-provider-percentages [provider]="selectedProvider()!"></app-provider-percentages>
      
      <app-form-button icon="<i class='fa-solid fa-percent'></i> Porcentajes globales" [disabled]="selectedProviderId() === 0" id="provider-percentages-content" class="mb-8" (click)="openProviderPercentagesMenu()"></app-form-button>
    </div>

    <form #calculateForm="ngForm" id="calculateForm" (ngSubmit)="onCalculateSubmit()">
      <!-- <app-submit-button class="my-1" label="Calcular Precios" [disabled]="productsWithPricing()().length === 0 || !areSubmitButtonsValid()"></app-submit-button> -->
      @if (selectedProviderId()) {
        @if (productsWithPricing()().length > 0) {
          @for (product of productsWithPricing()(); track $index) {
            <div class="pricing-container ">
              <div class="pricing-header mt-6 mb-6 px-2">
                <p class="product-title">{{ product.title | uppercase }}</p>

                <ion-button size="small" id="main-content" (click)="openProductPercentagesMenu(product)"><i class='fa-solid fa-percent'></i>  Porcentajes Individuales</ion-button>
              </div>

              <!-- Product Percentages Menu -->
              <app-product-percentages [product]="product" (percentageEmitter)="receiveProductPercentages($event)"></app-product-percentages>

              <div class="pricing-content px-2">
                <div class="pricing-inputs mb-6">
                  <!-- Product Subtotal Input -->
                  <app-number-input #productSubtotalInput inputName="productSubtotalInput" placeHolder="1" label="Subtotal"
                  [(bindedObject)]="product.subtotal" [minValue]="0" [maxValue]="999999" labelPlacement="stacked"
                  [required]="false"></app-number-input>
                  
                  <!-- Product Quantity Input -->
                  <app-number-input #productQuantityInput inputName="productQuantityInput" placeHolder="1" label="Cantidad" labelPlacement="stacked"
                  [(bindedObject)]="product.quantity" [minValue]="0" [maxValue]="999999" [required]="false"></app-number-input>
                </div>
              </div>
              
              <!-- Product Price Input -->
              <app-number-input class="mb-6" #priceInput inputName="productPriceInput{{$index}}" placeholder="$1000" label="Precio"
              [(bindedObject)]="product.price" [minValue]="0" [maxValue]="999999" labelPlacement="stacked" [readOnly]="true"
              [required]="false"></app-number-input>
            </div>
          }
        }
        @else {
          <app-not-found object="productos"></app-not-found>
        }
      }
      @else {
        <div class="pricing-container mt-6">
          <div class="pricing-content px-2">
            <div class="pricing-inputs mb-6">
              <app-number-input [disabled]="true"></app-number-input>
              <app-number-input [disabled]="true"></app-number-input>
            </div>
          </div>
          
          <app-number-input class="mb-6" [disabled]="true"></app-number-input>
        </div>
      }
    </form>
    
    <div class="buttons-container my-4">
      <app-form-button label="Calcular Precios" [disabled]="!areSubmitButtonsValid()"
      (click)="onCalculateSubmit()"></app-form-button>

      <app-form-button label="Aplicar Precios" [disabled]="!areSubmitButtonsValid()"
      (click)="onApplySubmit()"></app-form-button>
    </div>
  </div>
</ion-content>