@import '/src/global.scss';

.detail-container {

}

.detail-title {
  font-weight: bold;
  color: $primary-color;
  font-size: 2rem;
  text-align: center;
}

.date {
  font-size: 1.5rem;
  color: $tertiary-color;
  text-align: center;
  font-weight: bold;
}

.card-header {
  display: flex;
  align-items: end;
  justify-content: left;
  gap: 10px;
  color: $primary-color;
}

.card-header .card-title {
  font-size: 1.45rem;
  font-weight: bold;
  margin-bottom: 0;
}

.card-header .payment-receipt {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0;
}

.circle-container {
  width: 10rem;
  height: 10rem;
  background-color: #{$primary-color-lighter};
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.circle-container .fa-regular {
  color: $primary-color;
}

.percentages-container {
  display: flex;
  justify-content: space-between;
}

.card-content {
  font-size: 1.4rem;
  font-weight: bold;
  color: $tertiary-color;
}

.card-content-deleted {
  font-size: 1.4rem;
  font-weight: bold;
  color: $error-color;
}

.payment-methods {
  font-size: 1.2rem;
  color: $tertiary-color-darker;
}

.uploaded-image-container {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.uploaded-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  object-position: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invoice-container {
  width: 90%;
  height: 200px;
  border: 1px solid $secondary-color;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: $secondary-color-lighter;
}
.uploaded-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploaded-file-container .fa-file {
  color: $secondary-color;
}

.uploaded-file-container .file-name {
  color: $secondary-color;
  font-weight: bold;
}

.ripple-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.ripple-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.ripple-container:active::after {
  transform: scale(4);
  opacity: 0.7;
  transition: transform 0.6s ease, opacity 0.6s; /* Retardo para empezar a desvanecer */
  animation: fade-out 1s forwards; /* Añade la animación de desvanecimiento */
}

@keyframes fade-out {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}


ion-card {
  margin-bottom: 10px;
}

ion-card-header {
  padding-top: 0;
  padding-bottom: 0;
}

ion-card-title {
  --color: #{$primary-color};
}

ion-card-subtitle {
  --color: #{$primary-color};
}

ion-card-content {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}