<ion-header class="ion-no-border">
  <ion-toolbar class="py-2">
    <div class="header-container px-3">
      @if (modalHeader()) {
        <div class="title-container pt-1">
          <h2 class="title" [class]="titleSize()">{{ title() }}</h2>
          <i [class]="icon()" class="pt-1"></i>
        </div>
      } @else {
        <app-back-button class="back-button-static back-button-white pt-1"></app-back-button>
        <div class="title-container pt-1">
          <h2 class="title" [class]="titleSize()">{{ title() }}</h2>
          <i [class]="icon()" class="pt-1"></i>
        </div>
        <div></div>
      }
    </div>
  </ion-toolbar>
</ion-header>