<div class="invoice-input" [class]="class()">
  <p class="label mb-1 mt-0">{{ label() }}</p>

  <div class="invoice-container">
    @if (bindedObject()) { 
      @if (fileUtility.isPhoto(bindedObject()); as photo) {
        <!-- Vista previa de la imagen -->
        <div class="uploaded-image-container">
          <img [src]="photo.dataUrl"/>
        </div>
      }
      @if (fileUtility.isFile(bindedObject()); as file) {
        <!-- Vista previa del archivo -->
        <div class="uploaded-file-container mt-7">
          <i class="fa-solid fa-file fa-4x"></i>
          <p class="file-name">{{ file.name }}</p>
        </div>
      }
    }
    @else {
      <div class="placeholder">
        <i class="fa-regular fa-camera fa-4x"></i>
        <p>Ninguna imagen o archivo seleccionado</p>
      </div>
    }
  </div>

  <div class="add-image-file">
    <ion-button (click)="selectImageSource()">Agregar imagen</ion-button>   
    <ion-button (click)="triggerFileInput()">Agregar archivo</ion-button> 
  </div>
  <input type="file" accept="image/*,.pdf,.doc,.docx" (change)="onFileSelected($event)" hidden #fileInput />
</div>