@if (idParam()) {
  <app-header title="MODIFICAR USUARIO" titleSize="title-large" icon="fa-solid fa-user-pen fa-2x"></app-header>
} @else {
  <app-header title="AGREGAR USUARIO" titleSize="title-large" icon="fa-solid fa-user-plus fa-2x"></app-header>
}

<ion-content>
    <div class="px-10">
        <form #userForm="ngForm" id="userForm" (ngSubmit)="onSubmit()">
            <!-- Username input -->
            <app-text-input #formInput class="my-10" inputName="usernameInput" [(bindedObject)]="user()!.username" 
            label="Usuario" placeHolder="Ingrese su usuario" [maxlength]="40"></app-text-input>

            <!-- Password input -->
            <app-password-input #formInput class="mb-10" inputName="passwordInput" [(bindedObject)]="user()!.password" 
            label="Contraseña" placeHolder="Ingrese su contraseña" [minlength]="6" [maxlength]="60"></app-password-input>

            <!-- Confirm password input -->
            <app-password-input #formInput class="mb-10" inputName="confirmPasswordInput" [(bindedObject)]="confirmPassword" 
            label="Confirmar Contraseña" placeHolder="Ingrese su contraseña" [minlength]="6" [maxlength]="60"
            [validatePasswords]="true" [equalTo]="user()!.password"></app-password-input>

            <!-- Role selector input -->
            <app-select-input #formInput class="mb-10" inputName="roleSelect" [(bindedObject)]="user()!.role" 
            label="Rol" [options]="userRoles" [disabled]="(idParam() !== undefined && userId === 1)">
              @for (userRole of userRoles; track $index) {
                <ion-select-option [value]="userRole.value">{{ userRole.title }}</ion-select-option>
              }
            </app-select-input>
      
            <app-submit-button [isEdit]="idParam() !== undefined"></app-submit-button>
        </form>
    </div>
</ion-content>