<app-header title="EMPLEADOS" titleSize="title-medium" icon="fa-solid fa-briefcase fa-2x"></app-header>

<ion-content>
  <div class="py-3 px-2">
    <div class="options-container mx-2">
        <!-- Add Employee Button -->
        <ion-button (click)="router.navigate(['employees', 'form'])"><i class="fa-solid fa-business-time fa-2x py-0"></i></ion-button>
        <!-- See Deleted Button -->
        <app-deleted-button [(seeDeleted)]="seeDeleted"></app-deleted-button>
    </div>

    @if (filteredEmployees(); as employees) {
      @if (employees.length === 0) { <app-not-found></app-not-found> }
      <ion-list>
        @for (employee of employees; track $index) {
        <app-employee-item [employee]="employee"></app-employee-item>
        }
      </ion-list>
    }

  </div>
</ion-content>