<app-header title="RUBROS" titleSize="title-large" icon="fa-solid fa-grid-2 fa-2x" [modalHeader]="true"></app-header>

<div class="p-3">
  <div class="add-container mb-2 mx-2">
    <!-- Add Sector Button -->
    <ion-button (click)="openAddSectorAlert()"><i class="fa-solid fa-grid-2-plus fa-2x py-0"></i></ion-button>
  </div>

  @if (sectors(); as sectors) {
    @if (sectors.length === 0) { <app-not-found></app-not-found> }
    <ion-list>
      @for (sector of sectors; track $index) {
        <app-sector-item (turnInert)="turnInert.emit($event)" [sector]="sector" ></app-sector-item>
      }
    </ion-list>
  } @else {
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }

</div>