@if (isOrderEdit) {
  <app-header title="MODIFICAR PEDIDO" titleSize="title-large" icon="fa-solid fa-clipboard-medical fa-box-taped fa-2x"></app-header>
} @else {
  <app-header title="AGREGAR PEDIDO" titleSize="title-large" icon="fa-solid fa-clipboard-medical fa-box-taped fa-2x"></app-header>
}

<ion-content>
  <div class="px-10">
    <form #orderForm="ngForm" id="userForm" (ngSubmit)="onSubmit(orderForm)">
      <!-- Delivery Date Input -->
      <app-wheel-date-input class="mb-10 mt-6" inputName="deliveryDate" label="Fecha de Entrega" 
      [(bindedObject)]="order()!.deliveryDate"></app-wheel-date-input>

      <div class="total-status-container">
        <!-- Total Input -->
        <app-number-input class="mb-10" inputName="totalInput" label="Total" [(bindedObject)]="order()!.total" 
        placeHolder="$15000" [minValue]="0" [maxValue]="9999999"></app-number-input>

        <!-- Order status Input -->
        <app-select-input class="select" inputName="statusSelect" label="Estado" [(bindedObject)]="order()!.status"
        [options]="['Pendiente', 'Cancelado', 'Pago']">
          @for (status of orderStatus; track $index) {
            <ion-select-option [value]="status">{{ status }}</ion-select-option>
          }
        </app-select-input>
      </div>

      <div class="invoice-input mb-10">
        <!-- Invoice File Input -->
        <p class="label mb-1 mt-0">Factura de Pedido</p>

        <div class="invoice-container">
          @if (order()?.invoice) { 
            @if (isPhoto(order()!.invoice); as photo) {
              <!-- Vista previa de la imagen -->
              <div class="uploaded-image-container">
                <img [src]="photo.dataUrl"/>
              </div>
            }
            @if (isFile(order()!.invoice); as file) {
              <div class="uploaded-file-container">
                <i class="fa-solid fa-file fa-4x"></i>
                <p class="file-name">{{ file.name }}</p>
              </div>
            }
          }
          @else {
            <div class="placeholder">
              <i class="fa-regular fa-camera fa-4x"></i>
              <p>Ninguna imagen o archivo seleccionado</p>
            </div>
          }
        </div>

        <div class="add-image-file">
          <ion-button (click)="selectImageSource()">Agregar imagen</ion-button>   
          <ion-button (click)="triggerFileInput()">Agregar archivo</ion-button> 
        </div>
        <input type="file" accept="image/*,.pdf,.doc,.docx" (change)="onFileSelected($event)" hidden #fileInput />
      </div>      

      <div class="provider-method-container mb-10">
        <!-- Provider Input -->
        <app-select-input class="select" inputName="providerSelect" [(bindedObject)]="order()!.providerId"
        label="Proveedor" [options]="providers()">
          @for (provider of providers(); track $index) {
            <ion-select-option [value]="provider.id">{{ provider.companyName }}</ion-select-option>
          }
        </app-select-input>
        
        <!-- Payment Method Input -->
        <app-select-input class="select" inputName="paymentMethodSelect" label="Método de pago" [(bindedObject)]="order()!.paymentMethod"
         [disabled]="(order()!.status !== 'Pago')" [multiple]="true" [options]="paymentMethods">
          @for (paymentMethod of paymentMethods; track $index) {
            <ion-select-option [value]="paymentMethod.value">{{ paymentMethod.title }}</ion-select-option>
          }
        </app-select-input>
      </div>

      <app-submit-button class="mb-5" [isEdit]="isOrderEdit"></app-submit-button>
    </form>
  </div>
</ion-content>