@import '/src/global.scss';

.percentages-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.calculate-button {
    border-bottom: 1px solid $secondary-color;
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
    align-content: center;
}

.pricing-container .product-title {
    text-align: end;
    font-weight: bold;
    color: $primary-color;
}

.prices-info-container {
    text-align: center;
    color: $primary-color;
}