<app-header title="CÁLCULO DE CARNE" titleSize="title-medium" icon="fa-solid fa-cow fa-2x"></app-header>

<ion-content>
  <div class="px-4 pt-2">
    <app-weights-accordion></app-weights-accordion>

    <!-- <div class="prices-info-container">
      @if (totalProductSum() > 0 && totalSellingPrice() > 0 && areThereChangesInPrices()) {
        <p>Precio de venta promedio de media res: <b>${{ totalSellingPrice().toFixed(2) }}</b></p>
        <p>Precio total que conforman los productos: <b>${{ totalProductSum().toFixed(2) }}</b></p>
      }
    </div> -->

    <!-- Cálculo automático de precios -->
    <form #calculateForm="ngForm" id="calculateForm" (ngSubmit)="onCalculateSubmit()">
      <div class="percentages-container">
        <!-- Half Carcass Cost Input -->
        <app-number-input #calculateInput inputName="halfCarcassCostInput" label="Costo Media Res/kg" [(bindedObject)]="halfCarcassCost"
        placeHolder="$1000" [minValue]="0" [maxValue]="9999999" labelPlacement="stacked"></app-number-input>

        <!-- Profit Percentage Input -->
        <app-number-input #calculateInput inputName="profitPercentageInput" label="Porcentaje Ganancia" [(bindedObject)]="profitPercentage"
        placeHolder="30%" [minValue]="0" [maxValue]="9999999" labelPlacement="stacked"></app-number-input>
      </div>
      <div class="calculate-button">
        <app-submit-button class="mt-3 pb-3" label="Calcular"></app-submit-button>
      </div>
    </form>

    <!-- Modificar manualmente y aplicar precios -->
    <form #applyForm="ngForm" id="applyForm" (ngSubmit)="onApplySubmit()">
      <app-submit-button class="my-4" label="Aplicar" [disabled]="!areThereChangesInPrices()"></app-submit-button>

      @if (products()()!.length > 0) {
        <div class="pricing-container mb-4">
          @for (product of products()(); track $index) {
            <p class="product-title">{{ product.title | uppercase }}</p>
            
            <!-- Product Price Input -->
            <app-number-input #priceInput inputName="productPriceInput{{$index}}" placeholder="$1000" 
            [(bindedObject)]="product.price" [minValue]="0"></app-number-input>
          }
        </div>
      }
    </form>
  </div>
</ion-content>

<!-- <ion-input #tolerancePercentageInput="ngModel" name="tolerancePercentageInput" id="tolerancePercentageInput" label="Porcentaje Tolerancia" type="number" label-placement="stacked" fill="outline" placeholder="2%" [(ngModel)]="tolerancePercentage" [errorText]="validationService.getErrorMessage(tolerancePercentageInput.errors)"></ion-input> -->

<!-- Permitir facilitar el cálculo de a cuánto vender el costo de una media/kg. -->

<!-- Colocar estado de tolerancia (Si la suma de todos los productos es = Total de venta,
o si es superior por cierto margen, o inferior por cierto margen) Esto le dará feedback
al dueño para que sepa cómo balancear los precios. -->