<app-header title="PEDIDOS" titleSize="title-large" icon="fa-regular fa-clipboard-list fa-2x" ></app-header>

<ion-content>
  <div class="py-3 px-2">
    <div class="search-and-add-container mb-2 mx-2">
      <!-- Search Bar -->
      <ion-searchbar placeholder="Buscar" [debounce]="250" (ionInput)="searchForOrders($event)"></ion-searchbar>
      <!-- Filter Button -->
      <ion-button id="order-content" (click)="openFilterMenu()"><i class="fa-solid fa-filter fa-2x py-0"></i></ion-button>
      <!-- Filter Menu -->
      <app-orders-filter [orders]="orders()" (filtersEmitter)="receiveFilters($event)" ></app-orders-filter>
    </div>
    
    <div class="options-container">
      <!-- Add Order Button -->
      <ion-button (click)="router.navigate(['orders', 'form'])"><i class="fa-solid fa-clipboard-medical fa-2x py-0"></i></ion-button>
      <!-- See Deleted Button -->
      <app-deleted-button [(seeDeleted)]="seeDeleted"></app-deleted-button>
    </div>

    @if (filteredOrders(); as orders) {
      @if (orders.length === 0) { <app-not-found></app-not-found> }
      <ion-list>
        @for (order of orders; track $index) {
          <app-order-item [order]="order" ></app-order-item>
        }
      </ion-list>
    } @else {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
    
  </div>
</ion-content>
