<app-header title="CÁLCULO DE PRECIOS" titleSize="title-medium" icon="fa-solid fa-calculator fa-2x"></app-header>

<ion-content>
  <div class="pricing-menu-container mx-4 mt-8">
    <app-option-large (click)="router.navigate(['pricing', 'beef'])"
    label="CÁLCULO DE CARNE" icon="fa-solid fa-cow fa-2x"></app-option-large>

    <app-option-large (click)="router.navigate(['pricing', 'chicken'])"
    label="CÁLCULO DE POLLO" icon="fa-solid fa-egg fa-2x"></app-option-large>

    <app-option-large (click)="router.navigate(['pricing', 'products'])"
    label="CÁLCULO DE PROD." icon="fa-sharp fa-solid fa-box fa-2x"></app-option-large>
  </div>
</ion-content>