<app-header title="PROVEEDORES" titleSize="title-medium" icon="fa-solid fa-users fa-2x"></app-header>

<ion-content>
  <div class="py-3 px-2">
    <div class="search-and-filter-container mb-2 mx-2">
      <!-- Search Bar -->
      <ion-searchbar placeholder="Buscar" [debounce]="250" (ionInput)="searchForProviders($event)"></ion-searchbar>
      <!-- Filter Button -->
      <ion-button id="provider-content" (click)="openFilterMenu()"><i class="fa-solid fa-filter fa-2x py-0"></i></ion-button>
      <!-- Filter menu -->
      <app-provider-filter (filtersEmitter)="receiveFilters($event)"></app-provider-filter>
    </div>

    <div class="options-container">
      <div>
        <!-- Add Provider Button -->
        <ion-button (click)="router.navigate(['providers', 'form'])"><i class="fa-solid fa-users-medical fa-2x py-0"></i></ion-button>
        <!-- Sector Dashboard Button -->
        <ion-button id="open-sector-modal"><i class="fa-solid fa-grid-2 fa-2x py-0"></i></ion-button>
        <!-- Sector Modal -->
        <app-sector-modal></app-sector-modal>
      </div>
      <!-- See Deleted Button -->
      <app-deleted-button [(seeDeleted)]="seeDeleted"></app-deleted-button>
    </div>

    @if (filteredProviders(); as providers) {
      @if (providers.length === 0) { <app-not-found></app-not-found> }
      <ion-list>
        @for (provider of providers; track $index) {
        <app-provider-item [provider]="provider"></app-provider-item>
        }
      </ion-list>
    }

  </div>
</ion-content>