@use '/src/global' as *;

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.login-container .login-title {
  font-weight: bold;
  color: $primary-color;
  font-size: 2rem;
}

.circle-container {
  width: 10rem;
  height: 10rem;
  background-color: #{$primary-color-lighter};
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.circle-container .fa-solid {
  color: $primary-color;
}

.forgot-password {
  text-align: left;
  font-weight: bold;
  color: #{$primary-color};
  text-decoration: none;
}

.forgot-password:hover {
  cursor: pointer;
  text-decoration: underline;
}