@import '/src/global.scss';

.home-container {
    text-align: center;
}

.home-container .home-title {
    font-weight: bold;
    color: $primary-color;
    font-size: 2rem;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px; 
    justify-content: center; 
    align-content: center; 
}