@use '/src/global' as *;

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.forgot-password-container .title {
    font-weight: bold;
    color: $primary-color;
    font-size: 2rem;
}

.circle-container {
    width: 10rem;
    height: 10rem;
    background-color: #{$primary-color-lighter};
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.fa-regular {
    color: #{$primary-color};
}