<ion-content>
  <app-back-button url=""></app-back-button>
  <div class="forgot-password-container p-10">
    <div class="my-16">
      <p class="title m-0">¿Olvidaste la</p>
      <p class="title mt-1 mb-5">Contraseña?</p>
    </div>

    <div class="circle-container">
      <i class="fa-regular fa-message fa-5x"></i>
    </div>

    <div class="mt-9">
      <p class="title mb-0">Comunicate con</p>
      <p class="title my-0">el dueño para</p>
      <p class="title mt-0">modificarla</p>
    </div>
  </div>
</ion-content>