<ion-content>
<div class="forgot-password-container p-10">
  <div class="mb-10 mt-10">
    <p class="title m-0">¿Olvidaste la</p>
    <p class="title mt-1 mb-5">Contraseña?</p>
  </div>

  <div class="circle-container">
    <i class="fa-regular fa-message fa-5x"></i>
  </div>

  <div class="mt-9">
    <p class="title mb-0">Comunicate con el dueño</p>
    <p class="title mt-0">para solicitar una nueva.</p>
  </div>

  <div class="mt-10">
    <ion-button expand="block" (click)="router.navigate(['encargado-login'])">Volver</ion-button>
  </div>
</div>
</ion-content>