@use '/src/global' as *;

.select {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.total-status-container {
    display: flex;
    gap: 5px;
    height: 6rem;
}

.total-status-container app-number-input {
    width: 50%;
}

.select {
    width: 50%;
}

.provider-method-container {
    display: flex;
    gap: 5px;
}