@if (isOrderEdit) {
  <app-header title="MODIFICAR PEDIDO" titleSize="title-large" icon="fa-solid fa-clipboard-medical fa-box-taped fa-2x"></app-header>
} @else {
  <app-header title="AGREGAR PEDIDO" titleSize="title-large" icon="fa-solid fa-clipboard-medical fa-box-taped fa-2x"></app-header>
}

<ion-content>
  <div class="px-10">
    <form #orderForm="ngForm" id="userForm" (ngSubmit)="onSubmit()">
      @if (order()) {
        <!-- Delivery Date Input -->
        <app-wheel-date-input #formInput class="mb-10 mt-6" inputName="deliveryDate" label="Fecha de Entrega" 
        [(bindedObject)]="order()!.deliveryDate"></app-wheel-date-input>

      <div class="total-status-container">
        <!-- Total Input -->
        <app-number-input #formInput class="mb-10" inputName="totalInput" label="Total" [(bindedObject)]="order()!.total" 
        placeHolder="$15000" [minValue]="0" [maxValue]="9999999"></app-number-input>

        <!-- Order status Input -->
        <app-select-input #formInput class="select" inputName="statusSelect" label="Estado" [(bindedObject)]="order()!.status"
        [options]="['Pendiente', 'Cancelado', 'Pago']">
          <ion-select-option [value]="orderStatus.PENDIENTE">{{ orderStatus.PENDIENTE }}</ion-select-option>
          <ion-select-option [value]="orderStatus.CANCELADO">{{ orderStatus.CANCELADO }}</ion-select-option>
          <ion-select-option [value]="orderStatus.PAGO">{{ orderStatus.PAGO }}</ion-select-option>
        </app-select-input>
      </div>

      <!-- Invoice File Input -->
      <app-file-input class="mb-10" label="Factura de Pedido" [(bindedObject)]="order()!.invoice"></app-file-input>

      <div class="provider-method-container mb-10">
        <!-- Provider Input -->
        <app-select-input #formInput class="select" inputName="providerSelect" [(bindedObject)]="order()!.providerId"
        label="Proveedor" [options]="providers">
          @for (provider of providers; track $index) {
            <ion-select-option [value]="provider.id">{{ provider.companyName }}</ion-select-option>
          }
        </app-select-input>
        
        <!-- Payment Method Input -->
        <app-select-input #formInput class="select" inputName="paymentMethodSelect" label="Método de pago" [(bindedObject)]="order()!.paymentMethodIds"
         [disabled]="(order()!.status !== orderStatus.PAGO)" [multiple]="true" [options]="paymentMethods()" [required]="(order()!.status === orderStatus.PAGO)">
          @for (paymentMethod of paymentMethods(); track $index) {
            <ion-select-option [value]="paymentMethod.id">{{ paymentMethod.name }}</ion-select-option>
          }
        </app-select-input>
      </div>

      @if (order()?.status === orderStatus.PAGO) {
        <!-- Payment Receipt File Input -->
        <app-file-input class="mb-10" label="Comprobante de Pago (Opcional)" [(bindedObject)]="order()!.paymentReceipt"></app-file-input>
      }

      <app-submit-button class="mb-5" [isEdit]="isOrderEdit"></app-submit-button>
    }
    </form>
  </div>
</ion-content>