<ion-content>
<div class="home-container">
  <div>
    <h2 class="home-title mt-10 mb-8">PANEL DE {{ (role() === 'ROLE_DUENO') ? 'DUEÑO' : 'ENCARGADO' }}</h2>
  </div>

  <div class="options-container mb-4 mx-3">
      @for (option of options(); track $index) {
        <app-option [icon]="option.icon"  [label]="option.label" [url]="option.url"></app-option>
      }
      <app-option icon="fa-solid fa-camera-viewfinder fa-5x" label="ASISTENCIA"
      id="open-mark-attendance-modal" [isForModal]="true"></app-option>
  </div>
</div>
</ion-content>

<!-- Mark Attendance Modal -->
<app-mark-attendance-modal></app-mark-attendance-modal>