@import '/src/global.scss';

ion-input {
    --color: #{$secondary-color-darker};
    --placeholder-color: #{$secondary-color-darker};
    --border-width: 0.10rem;
    --highlight-color-valid: #{$primary-color};
}

ion-input.has-focus {
    --highlight-color-focused: #{$primary-color};
}

ion-input.md.input-disabled {
    background-color: #{$secondary-color-lighter};
}