@use '/src/global' as *;

.balance-container {
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $secondary-color;
}

.balance-container h2 {
    color: $primary-color;
    font-weight: bold;
}

.balance {
    color: $tertiary-color;
    font-weight: bold;
}



ion-button {
    --box-shadow: none;
    --background: white;
    --ripple-color: #{$secondary-color-darker};
}