@import '/src/global.scss';

.back-button-fixed {
    position: fixed;
    z-index: 1000; 
    top: 3rem;
    left: 1.25rem;
}

.back-button-static {
    position: static;
}

.back-button-primary .fa-solid {
    color: #{$primary-color};
    background-color: white;
    border-radius: 100%;
    padding: 0.15rem;
}

.back-button-white .fa-solid {
    color: white;
}