@import '/src/global.scss';

.back-button-fixed {
    position: fixed;
    top: 3rem;
    left: 1.25rem;
}

.back-button-static {
    position: static;
}

.back-button-primary .fa-solid {
    color: #{$primary-color};
}

.back-button-white .fa-solid {
    color: white;
}