@use '/src/global' as *;

ion-item {
    --background: #{$primary-color};
    --border-color: #{$primary-color};
    font-weight: bold;
}

ion-badge {
    --background: #{$primary-color};
}

div[slot='content'] {
    border-bottom: 1px solid $secondary-color-lighter;
    color: $primary-color;
}

.info-container {
    display: flex;
    align-items: center;
    background-color: $primary-color-lighter;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container app-number-input {
    width: 30%;
}

.form-container app-submit-button {
    width: 30%;
}