<div class="my-4">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label color="light">Promedio de pesos</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <form #weightAveragesForm="ngForm" id="weightAveragesForm" (ngSubmit)="onSubmit()">
          <div class="half-carcass">
            <p>MEDIA RES:</p>
            <app-number-input inputName="halfCarcassWeightInput" [(bindedObject)]="halfCarcassWeight"
            placeHolder="0kg" [minValue]="0" [maxValue]="99999"></app-number-input>

            <app-submit-button icon='<i class="fa-solid fa-floppy-disk fa-1x"></i>'></app-submit-button>
          </div>
        </form>
      </div>
      
      @for (meatCut of meatCuts; track $index) {
        <div class="ion-padding" slot="content">{{ meatCut.name | uppercase }}: <b>{{ ((meatCut.percentage/100) * +halfCarcassWeight).toFixed(1) }}kg</b></div>
      }
    </ion-accordion>
  </ion-accordion-group>
</div>