<ion-menu side="end" menuId="filter-menu" contentId="order-content">
  <ion-content>
    <div class="filter mt-0 mb-4 mx-4 pb-4">
      <!-- Providers filter -->
      <p class="filter-subtitle mb-3">Proveedores</p>
      <ion-select [(ngModel)]="filters[1].value" aria-label="Providers" placeholder="Selecciona proveedores para filtrar" fill="outline" [interfaceOptions]="customInterfaceOptions" [multiple]="true">
        @for (provider of providers(); track $index) {
            <ion-select-option [value]="provider.id">{{ provider.companyName }}</ion-select-option>
          }
      </ion-select>
    </div>

    <div class="filter mt-0 mx-4 pb-4">
      <!-- Payment Methods filter -->
      <p class="filter-subtitle mb-3">Métodos de Pago</p>
      <ion-select [(ngModel)]="filters[0].value" aria-label="Payment Methods" placeholder="Selecciona métodos de pago para filtrar" fill="outline" [interfaceOptions]="customInterfaceOptions" [multiple]="true">
        @for (paymentMethod of paymentMethods(); track $index) {
          <ion-select-option [value]="paymentMethod.id">{{ paymentMethod.name }}</ion-select-option>
        }
      </ion-select>
    </div>

    <div class="filter mt-0 mb-4 mx-4 pb-4">
      <!-- Prices filter -->
      <p class="filter-subtitle mb-1">Precio</p>
      <ion-range [min]="lowestPrice()" [max]="highestPrice()" step="1" dualKnobs="true" [(ngModel)]="priceRange" (ionChange)="onPriceRangeChange()">
      </ion-range>      
      <div class="range-labels">
        <ion-label slot="start">{{ priceRange.lower | currency }}</ion-label>
        <ion-label slot="end">{{ priceRange.upper | currency }}</ion-label>
      </div>
    </div>
    
    <!-- Filter button -->
    <div class="filter-button mb-4 mx-4">
      <ion-button (click)="clearFilter()" expand="block">Limpiar</ion-button>
      <ion-button (click)="filterProviders()" expand="block">Filtrar</ion-button>
    </div>
  </ion-content>
</ion-menu>