@if (isUserEdit) {
  <app-header title="MODIFICAR USUARIO" titleSize="title-large" icon="fa-solid fa-user-pen fa-2x"></app-header>
} @else {
  <app-header title="AGREGAR USUARIO" titleSize="title-large" icon="fa-solid fa-user-plus fa-2x"></app-header>
}

<ion-content>
    <div class="px-10">
        <form #userForm="ngForm" id="userForm" (ngSubmit)="onSubmit(userForm)">
            <div>
              <!-- Username input -->
              <ion-input #usernameInput="ngModel" name="usernameInput" id="usernameInput" [(ngModel)]="user.username" class="my-10" type="text" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingrese su usuario"
                required maxlength="40" [errorText]="validationService.getErrorMessage(usernameInput.errors)"></ion-input>
              <!-- Password input -->
              <ion-input #passwordInput="ngModel" name="passwordInput" id="passwordInput" [(ngModel)]="user.password" class="mb-10" type="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingrese su contraseña"
                required minlength="6" maxlength="60" [errorText]="validationService.getErrorMessage(passwordInput.errors)"></ion-input>
              <!-- Confirm password input -->
              <ion-input #confirmPasswordInput="ngModel" name="confirmPasswordInput" id="confirmPasswordInput" [(ngModel)]="confirmPassword" class="mb-10" type="password" label="Confirmar contraseña" label-placement="floating" fill="outline" placeholder="Confirme la contraseña"
              required minlength="6" maxlength="60" equalPasswords [equalTo]="user.password" [errorText]="validationService.getErrorMessage(confirmPasswordInput.errors)"></ion-input>
              <!-- Role selector input -->
              <div class="mb-10">
                <ion-select #roleSelect="ngModel" name="roleSelect" id="roleSelect" [class]="(isSelectNotValid(roleSelect, user.role)) ? 'select-invalid' : ''" [(ngModel)]="user.role" [interfaceOptions]="customInterfaceOptions" label="Rol" label-placement="floating" fill="outline" required>
                  <ion-select-option value="DUENO">Dueño</ion-select-option>
                  <ion-select-option value="ENCARGADO">Encargado</ion-select-option>
                </ion-select>
                @if (isSelectNotValid(roleSelect, user.role)) { <ion-note color="danger">Este campo es obligatorio</ion-note> <!-- Manejo manual de errorText hasta que Ionic lo incluya para el ion-select --> }
              </div>
            </div>
      
            @if (isUserEdit) {
              <ion-button type="submit" expand="block">Modificar</ion-button>
            } @else {
              <ion-button type="submit" expand="block">Crear</ion-button>
            }
        </form>
    </div>
</ion-content>