@use 'src/theme/variables' as *;

.sweet-modal-title {
    font-size: 1.7rem;
    color: $primary-color;
}

.sweet-modal-input {
    border: 0.1rem solid $secondary-color-lighter;
}

.sweet-modal-input:focus {
    border-color: $primary-color;
    box-shadow: none;
}

.sweet-modal-input:active {
    border-color: $primary-color;
}

.sweet-modal-button {
    background-color: $primary-color;
    width: 6rem;
    height: 2.5rem;
    font-size: 0.83rem;
}

.sweet-modal-cancel-button {
    background-color: $secondary-color;
    width: 6rem;
    height: 2.5rem;
    font-size: 0.93rem;
}

.sweet-modal-button-2 {
    background-color: $primary-color;
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
    padding-bottom: 2.5rem;
}

.sweet-modal-cancel-button-2 {
    background-color: $secondary-color;
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
    padding-bottom: 2.5rem;
}

.sweet-modal-button-3 {
    background-color: $primary-color;
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
}

.swal2-validation-message {
    background-color: white;
    color: #c5000f;
    font-weight: normal;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.swal2-validation-message::before {
    content: none; /* Remove warning icon */
}

.swal2-popup.swal2-toast {
    padding: 0.7em !important;
}