// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$primary-color: #e77624;
$primary-color-darker: darken($primary-color, 10%);
$primary-color-lighter: lighten($primary-color, 40%);

$secondary-color: #8b9a9b;
$secondary-color-darker: darken($secondary-color, 30%);
$secondary-color-lighter: lighten($secondary-color, 30%);

$tertiary-color: #d4af97;