<app-header title="FRANCOS" titleSize="title-large" icon="fa-solid fa-mug-hot fa-2x" ></app-header>

<ion-content>
  <div class="p-3">
    <div class="add-container pb-2">
      <!-- Add Day Off Button -->
      <ion-button (click)="router.navigate(['days-off', 'form'])"><i class="fa-regular fa-mug-hot fa-2x py-0"></i></ion-button>
      <!-- Filter Employee Select -->
      <app-select-input label="Empleado" [(bindedObject)]="selectedEmployeeId" [required]="false">
        @for (employee of employees(); track $index) {
          <ion-select-option #option [value]="employee.id">{{ employee.firstName }} {{ employee.lastName }}</ion-select-option>
        }
        <ion-select-option #option [value]="-1">Todos</ion-select-option>
      </app-select-input>
    </div>

    @if (daysOff().length === 0) { <app-not-found></app-not-found> }
    <ion-list>
      @for (dayOff of daysOff(); track $index) {
        <app-day-off-item [dayOff]="dayOff"></app-day-off-item>
      }
    </ion-list>
    
  </div>
</ion-content>