<app-header title="LICENCIAS" titleSize="title-large" icon="fa-solid fa-id-badge fa-2x" ></app-header>

<ion-content>
  <div class="p-3">
    <div class="add-container pb-2">
      <!-- Add Shift Button -->
      <ion-button (click)="router.navigate(['licenses', 'form'])"><i class="fa-solid fa-id-badge fa-2x py-0"></i></ion-button>
      <!-- Filter Employee Select -->
       <app-select-input label="Empleado" [(bindedObject)]="selectedEmployeeId" [required]="false">
        @for (employee of employees(); track $index) {
          <ion-select-option #option [value]="employee.id">{{ employee.firstName }} {{ employee.lastName }}</ion-select-option>
        }
        <ion-select-option #option [value]="-1">Todos</ion-select-option>
       </app-select-input>
    </div>

    @if (licenses().length === 0) { <app-not-found></app-not-found> }
    <ion-list>
      @for (license of licenses(); track $index) {
        <app-license-item [license]="license"></app-license-item>
      }
    </ion-list>
    
  </div>
</ion-content>
