<app-header title="PRODUCTOS" titleSize="title-medium" icon="fa-sharp fa-solid fa-boxes-stacked fa-2x" ></app-header>

<ion-content>
  <div class="py-3 px-2">
    <div class="search-and-add-container mb-2 mx-2">
      <!-- Search Bar -->
      <ion-searchbar placeholder="Buscar" [debounce]="250" (ionInput)="searchForProducts($event)"></ion-searchbar>
      <!-- Filter Button -->
      <ion-button><i class="fa-solid fa-filter fa-2x py-0"></i></ion-button>
    </div>
    
    <div class="options-container">
      <!-- Add Product Button -->
      <ion-button (click)="router.navigate(['products', 'form'])"><i class="fa-sharp fa-solid fa-box-taped fa-2x py-0"></i></ion-button>
      <!-- Category Dashboard Button -->
      <ion-button id="open-category-modal"><i class="fa-solid fa-tag fa-2x py-0"></i></ion-button>
      <!-- Category Modal -->
      <app-category-modal></app-category-modal>
    </div>

    @if (searchBarResult(); as products) {
      @if (products.length === 0) { <app-not-found></app-not-found> }
      <ion-list>
        @for (product of products; track $index) {
          <!-- <app-product-item (refreshDashboard)="renderDashboard()" [product]="product"></app-product-item> -->
          <app-product-item (refreshDashboard)="renderDashboard()" [product]="product" ></app-product-item>
        }
      </ion-list>
    } @else {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
    
  </div>
</ion-content>
