@import '/src/global.scss';

ion-button {
    --background: white;
    --border-radius: 30px;
    --border-style: solid;
    --border-color: #{$secondary-color-lighter};
    --border-width: 2px !important;
    --box-shadow: 0;
}

.option-container {
    display: flex;               
    flex-direction: column;      
    align-items: center;         
    justify-content: center;
    width: 7.5rem;
}

.icon, .label{
    color: #{$primary-color};
}

.label {
    font-weight: 700;
    font-size: 650;
}

