@import '/src/global.scss';

.percentages-container {

}

.percentages-label {
    color: $primary-color;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.percentages {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.pricing-container {
    border-bottom: 1px solid $secondary-color;
}

.product-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}

.subtotal-container {
    display: grid;
    grid-template-columns: 43.5% 50%;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.quantity-container {
    display: grid;
    grid-template-columns: 48% 52%;
    gap: 2px;
}

.product-title {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: $primary-color;
}

.disabled-product-title {
    text-align: center;
    font-weight: bold;
    color: $secondary-color;
}