@use '/src/global' as *;

.percentages-container {
    border-bottom: 1px solid $secondary-color;
}

.percentages-label {
    color: $primary-color;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.percentages {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.percentages-title {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.pricing-container {
    border-bottom: 1px dashed $secondary-color;
}

.pricing-header {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.pricing-content .pricing-inputs {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.subtotal-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.product-title {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: $primary-color;
}

.disabled-product-title {
    text-align: center;
    font-weight: bold;
    color: $secondary-color;
}

ion-button {
    --background: white;
    --color: #{$primary-color};
    --border-radius: 4px;
    --border-color: #{$primary-color};
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: 0;
}

.buttons-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}