<ion-item-sliding>
  <ion-item detail="true">
    <ion-label>
      <div class="employee-container">
        <p class="title-label">{{ employee().firstName | uppercase}} {{employee().lastName | uppercase }}</p>

        @if (employee().isEnabled) {
          <div>
            <!-- Credit Account Button -->
            <ion-button id="open-credit-account-modal"><i class="fa-regular fa-wallet fa-2x py-0"></i></ion-button>
            <!-- Finger Print Button -->
            <ion-button id="open-fingerprint-modal"><i class="fa-solid fa-fingerprint fa-2x py-0"></i></ion-button>
          </div>
        }
      </div>
    </ion-label>
  </ion-item>
  <ion-item-options slot="end">
    @if (employee().isEnabled) {
      <ion-item-option (click)="router.navigate(['employees', 'detail', employee().id])" color="white">
        <i class="fa-solid fa-eye fa-2x mx-2"></i>
      </ion-item-option>
      <ion-item-option (click)="router.navigate(['employees', 'form', employee().id])" color="white">
        <i class="fa-solid fa-pen fa-2x mx-2"></i>
      </ion-item-option>
    }
    <ion-item-option (click)="openDeleteOrRecoverEmployeeAlert()" color="white">
      <i class="fa-solid {{ employee().isEnabled ? 'fa-trash' : 'fa-trash-undo' }} fa-2x mx-2"></i>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<app-account-dashboard [employee]="employee()" ></app-account-dashboard>