<ion-content>
  <div class="welcome-container mt-16">
    <div>
      <img src="../../../../assets/icon/suravic-logo.png" alt="">
      <h1 class="app-title">Suravic Integrity</h1>
    </div>

    <div class="button-container mt-20">
      <!-- Login dueño button -->
      <ion-button (click)="router.navigate(['dueno-login'])">
        <div class="button-label">
          Ingreso Dueño <i class="fa-solid fa-user-tie fa-4x"></i>
        </div>
      </ion-button>
      <!-- Login encargado button -->
      <ion-button (click)="router.navigate(['encargado-login'])">
        <div class="button-label m-0">
          Ingreso Encargado <i class="fa-solid fa-user fa-4x"></i>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>