<app-header title="PROVEEDORES" titleSize="title-medium" icon="fa-solid fa-user-group fa-2x" ></app-header>

<ion-content>
  <div class="py-3 px-2">
    <div class="search-and-add mb-2 mx-2">
      <!-- Search Bar -->
      <ion-searchbar placeholder="Buscar" [debounce]="250" (ionInput)="searchForProviders($event)"></ion-searchbar>
      <!-- Filter Button -->
      <ion-button><i class="fa-solid fa-filter fa-2x py-0"></i></ion-button>
    </div>
    
    <div>
      <!-- Add Provider Button -->
      <ion-button (click)="router.navigate(['providers', 'form'])"><i class="fa-solid fa-user-group fa-2x py-0"></i></ion-button>
      <!-- Sector Dashboard Button -->
      <ion-button id="open-sector-modal"><i class="fa-solid fa-grid-2 fa-2x py-0"></i></ion-button>
      <app-sector-dashboard></app-sector-dashboard>
    </div>

    <!-- @if (searchBarResult$ | async; as users) {
      @if (users.length === 0) { <app-not-found></app-not-found> }
      <ion-list>
        @for (user of users; track $index) {
          <app-user-item (userDeleted)="userWasDeleted()" [user]="user"></app-user-item>
        }
      </ion-list>
    } @else {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    } -->
    
  </div>
</ion-content>
