@use '/src/global' as *;

ion-select {
    --placeholder-color: #{$secondary-color};
    --highlight-color: #{$primary-color};
    --border-width: 0.10rem;
}

ion-select.select-invalid {
    --highlight-color: #{$error-color};
}

ion-note {
    padding-top: 5px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    padding-inline-start: 16px;
}