<ion-menu side="end" menuId="filter-product-menu" contentId="product-content">
  <ion-content>
    <div class="filter mt-0 mx-4 pb-4">
      <!-- Categories filter -->
      <p class="filter-subtitle mb-3">Categorías</p>
      <app-select-input [(bindedObject)]="filters.categories" label="Selecciona para filtrar"
      [multiple]="true" [required]="false">
        @for (category of categories(); track $index) {
          <ion-select-option #option [value]="category.id">{{ category.name }}</ion-select-option>
        }
      </app-select-input>
    </div>
    
    <div class="filter mt-0 mb-4 mx-4 pb-4">
      <!-- Providers filter -->
      <p class="filter-subtitle mb-3">Proveedores</p>
      <app-select-input [(bindedObject)]="filters.providers" label="Selecciona para filtrar"
      [multiple]="true" [required]="false">
        @for (provider of providers(); track $index) {
          <ion-select-option #option [value]="provider.id">{{ provider.companyName }}</ion-select-option>
        }
      </app-select-input>
    </div>

    <div class="filter mt-0 mb-4 mx-4 pb-4">
      <!-- Prices filter -->
      <p class="filter-subtitle mb-1">Precio</p>
      <ion-range [min]="minPrice()" [max]="maxPrice()" step="1" dualKnobs="true" [(ngModel)]="priceRange"
      (ionChange)="onPriceRangeChange()"></ion-range>
      <div class="range-labels">
        <ion-label slot="start">{{ priceRange.lower | currency }}</ion-label>
        <ion-label slot="end">{{ priceRange.upper | currency }}</ion-label>
      </div>
    </div>
    
    <!-- Filter button -->
    <div class="filter-button mb-4 mx-4">
      <ion-button (click)="clearFilter()" expand="block">Limpiar</ion-button>
      <ion-button (click)="filterProducts()" expand="block">Filtrar</ion-button>
    </div>
  </ion-content>
</ion-menu>