<ion-content>
  <app-back-button class="back-button-fixed back-button-primary" ></app-back-button>
  <div class="login-container p-10">
    <!-- Login title -->
    <div>
      <p class="login-title m-0 mt-1 mb-5">Ingresar</p>
      <div class="circle-container">
        <i class="fa-solid fa-user fa-5x"></i>
      </div>
    </div>

    <form #loginForm="ngForm" id="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <div>
        <!-- Username input -->
        <ion-input #usernameInput="ngModel" name="usernameInput" id="usernameInput" [(ngModel)]="user.username" class="my-10" type="text" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingrese su usuario"
          required [errorText]="validationService.getErrorMessage(usernameInput.errors)"></ion-input>
        <!-- Password input -->
        <ion-input #passwordInput="ngModel" name="passwordInput" id="passwordInput" [(ngModel)]="user.password" class="mb-10" type="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingrese su contraseña"
          required [errorText]="validationService.getErrorMessage(passwordInput.errors)"></ion-input>
      </div>

      <div>
        <!-- Submit button -->
        <ion-button type="submit" expand="block">Ingresar</ion-button>
        <p class="forgot-password mb-0" (click)="router.navigate(['forgot-password'])">¿Olvidaste tu contraseña?</p>
      </div>
    </form>
  </div>
</ion-content>