<ion-content>
  <app-back-button class="back-button-fixed back-button-primary" ></app-back-button>
  <div class="login-container p-10">
    <!-- Login title -->
    <div>
      <p class="login-title m-0 mt-1 mb-5">Ingresar</p>
      <div class="circle-container">
        <i class="fa-solid fa-user fa-5x"></i>
      </div>
    </div>

    <form #loginForm="ngForm" id="loginForm" (ngSubmit)="onSubmit()">
      <!-- Username input -->
      <app-text-input #loginInput class="my-10" inputName="usernameInput" label="Usuario" [(bindedObject)]="user.username"
      placeHolder="Ingrese su usario"></app-text-input>

      <!-- Password input -->
      <app-password-input #loginInput class="mb-10" inputName="passwordInput" label="Contraseña" [(bindedObject)]="user.password"
      placeHolder="Ingrese su contraseña"></app-password-input>

      <!-- Submit button -->
      <app-submit-button label="Ingresar"></app-submit-button>
      <p class="forgot-password mb-0" (click)="router.navigate(['forgot-password'])">¿Olvidaste tu contraseña?</p>
    </form>
  </div>
</ion-content>