@if (isProductEdit) {
  <app-header title="MODIFICAR PRODUCTO" titleSize="title-large" icon="fa-sharp fa-solid fa-box-taped fa-2x"></app-header>
} @else {
  <app-header title="AGREGAR PRODUCTO" titleSize="title-large" icon="fa-sharp fa-solid fa-box-taped fa-2x"></app-header>
}

<ion-content>
  <div class="px-10">
    <form #productForm="ngForm" id="productForm" (ngSubmit)="onSubmit()">
      <!-- Title Input -->
      <app-text-input #formInput class="my-10" inputName="titleInput" [(bindedObject)]="product()!.title" label="Nombre"
        placeHolder="Ingrese el nombre" pattern="^[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ ]+$"></app-text-input>

      <div class="price-plu-container mb-10">
        <!-- Price Input -->
        <app-number-input #formInput inputName="priceInput" [(bindedObject)]="product()!.price" label="Precio" placeHolder="$1500"
          [minValue]="0" [maxValue]="9999999"></app-number-input>

        <!-- PLU Input -->
        <app-text-input #formInput inputName="pluInput" [(bindedObject)]="product()!.plu" label="PLU(Opcional)" placeHolder="158"
          [required]="false" maxlength="5"></app-text-input>
      </div>

      <!-- Provider Input -->
      <app-select-input #formInput class="mb-10" inputName="providerSelect" [(bindedObject)]="product()!.providerId"
        label="Proveedor" [options]="providers()">
        @if (providers(); as providers) {
          @for (provider of providers; track $index) {
            <ion-select-option [value]="provider.id">{{ provider.companyName }}</ion-select-option>
          }
        }
      </app-select-input>

      <!-- Category Input -->
      <app-select-input #formInput class="mb-10" inputName="categorySelect" [(bindedObject)]="product()!.categoryId"
        label="Categoría" [options]="categories()">
        @if (categories(); as categories) {
          @for (category of categories; track $index) {
            <ion-select-option [value]="category.id">{{ category.name }}</ion-select-option>
          }
        }
      </app-select-input>

      <app-submit-button [isEdit]="isProductEdit"></app-submit-button>
    </form>
  </div>
</ion-content>