<ion-item-sliding>
  <ion-item detail="true">
    <ion-label>
      <div style="display: flex; justify-content: space-between;">
        <p class="title-label">{{ operation().type | uppercase }}</p>
        <p class="title-label">{{ operation().createdAt | createdAt }}</p>
      </div>
      <p class="subtitle-label">{{ operation().total | currency }}</p>
    </ion-label>
  </ion-item>
  <ion-item-options slot="end">
    <ion-item-option (click)="this.router.navigate(['operations', 'detail', this.operation().id])" color="white">
      <i class="fa-solid fa-eye fa-2x mx-2"></i>
    </ion-item-option>
    <ion-item-option (click)="this.router.navigate(['operations', 'form', this.operation().creditAccount.id, this.operation().id])" color="white">
      <i class="fa-solid fa-user-pen fa-2x mx-2"></i>
    </ion-item-option>
    <ion-item-option (click)="openDeleteOperationAlert()" color="white">
      <i class="fa-solid fa-trash fa-2x mx-2"></i>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>