<app-header title="USUARIOS" titleSize="title-large" icon="fa-solid fa-user fa-2x" ></app-header>

<ion-content>
  <div class="p-3">
    <div class="search-container mb-2 mx-2">
      <!-- Search Bar -->
      <ion-searchbar placeholder="Buscar" [debounce]="250" (ionInput)="searchForUsers($event)"></ion-searchbar>
    </div>

    <div class="add-container">
      <!-- Add User Button -->
      <ion-button (click)="router.navigate(['users', 'form'])"><i class="fa-solid fa-user-plus fa-2x py-0"></i></ion-button>
    </div>

    @if (searchBarResult(); as users) {
      @if (users.length === 0) { <app-not-found></app-not-found> }
      <ion-list>
        @for (user of users; track $index) {
          <app-user-item (refreshDashboard)="renderDashboard()" [user]="user"></app-user-item>
        }
      </ion-list>
    } @else {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
    
  </div>
</ion-content>
