<ion-menu side="end" menuId="filter-provider-menu" contentId="provider-content">
  <ion-content>
    <div class="filter mt-0 mx-4 pb-4">
      <!-- Sectors filter -->
      <p class="filter-subtitle mb-3">Rubros</p>
      <app-select-input [(bindedObject)]="filters.sectors" label="Selecciona para filtrar"
      [multiple]="true" [required]="false">
        @for (sector of sectors(); track $index) {
          <ion-select-option #option [value]="sector.id">{{ sector.name }}</ion-select-option>
        }
      </app-select-input>
    </div>
    
    <div class="filter mt-0 mb-4 mx-4 pb-4">
      <!-- VAT conditions filter -->
      <p class="filter-subtitle mb-3">Condiciones IVA</p>
      <app-select-input [(bindedObject)]="filters.vatConditions" label="Selecciona para filtrar"
      [multiple]="true" [required]="false">
        @for (condition of vatConditions; track $index) {
          <ion-select-option #option [value]="condition.value">{{ condition.title }}</ion-select-option>
        }
      </app-select-input>
    </div>
    
    <!-- Filter button -->
    <div class="filter-button mb-4 mx-4">
      <ion-button (click)="clearFilter()" expand="block">Limpiar</ion-button>
      <ion-button (click)="filterProviders()" expand="block">Filtrar</ion-button>
    </div>
  </ion-content>
</ion-menu>