@if (isProviderEdit) {
  <app-header title="MODIFICAR PROVEEDOR" titleSize="title-large" icon="fa-solid fa-user-pen fa-2x"></app-header>
} @else {
  <app-header title="AGREGAR PROVEEDOR" titleSize="title-large" icon="fa-solid fa-user-plus fa-2x"></app-header>
}

<ion-content>
  <div class="px-10">
      <form #providerForm="ngForm" id="providerForm" (ngSubmit)="onSubmit()">
          <p class="section-title pb-2 mt-6">INFORMACIÓN DE PROVEEDOR</p>
          <!-- Company Name Input -->
          <app-text-input #formInput class="mb-8" inputName="companyNameInput" [(bindedObject)]="provider()!.companyName" 
          label="Razón Social" placeHolder="Ingrese la razón social" pattern="^[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ ]+$" maxlength="100"></app-text-input>

          <!-- First Name Input -->
          <app-text-input #formInput class="mb-8" inputName="firstNameInput" [(bindedObject)]="provider()!.firstName" label="Nombre" 
          placeHolder="Ingrese el nombre" pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+$" maxlength="40"></app-text-input>

          <!-- Last Name Input -->
          <app-text-input #formInput class="mb-8" inputName="lastNameInput" [(bindedObject)]="provider()!.lastName" label="Apellido" 
          placeHolder="Ingrese el apellido" pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+$" maxlength="40"></app-text-input>

          <!-- Telephone Input -->
          <app-text-input #formInput class="mb-8" [maskito]="telephoneMask" inputName="telephoneInput" [(bindedObject)]="provider()!.contact.telephone"
          label="Teléfono" placeHolder="1234567890" minlength="7" maxlength="12"></app-text-input>

          <!-- Email Input --> 
          <app-text-input #formInput class="mb-8" inputName="emailInput" [(bindedObject)]="provider()!.contact.email" label="Email (Opcional)" 
          placeHolder="example@gmail.com" [required]="false" [email]="true" maxlength="40" ></app-text-input>

          <!-- Sector Select Input -->
          <app-select-input #formInput class="mb-8" inputName="sectorSelect" [(bindedObject)]="provider()!.sectorId"
          label="Rubro" [options]="sectors()" [disabled]="(isProviderEdit && [1,2].includes(providerId))">
            @if (sectors(); as sectors) {
              @for (sector of sectors; track $index) {
                <ion-select-option [value]="sector.id">{{ sector.name }}</ion-select-option>
              }
            }
          </app-select-input>

          <p class="section-title pb-2 mt-6">INFORMACIÓN FISCAL</p>
          <!-- Cuit Input -->
          <app-text-input #formInput class="mb-8" [maskito]="cuitMask" inputName="cuitInput" [(bindedObject)]="provider()!.cuit"
          label="CUIT" placeHolder="00-00000000-0" pattern="^[0-9]{2}-[0-9]{8}-[0-9]$"></app-text-input>

          <!-- Vat Condition Select Input -->
          <app-select-input #formInput class="mb-8" inputName="vatConditionSelect" [(bindedObject)]="provider()!.vatCondition"
          label="Condición IVA" [options]="vatConditions">
            @for (condition of vatConditions; track $index) {
              <ion-select-option [value]="condition.value">{{ condition.title }}</ion-select-option>
            }
          </app-select-input>

          <p class="section-title pb-2 mt-6">INFORMACIÓN FINANCIERA</p>
          <!-- Vat Percentage Input -->
           <app-select-input #formInput class="mb-8" inputName="vatPercentageSelect" [(bindedObject)]="provider()!.percentages.vatPercentage"
           label="Porcentaje de IVA" [options]="[21, 10.5]">
            <ion-select-option [value]="21">21%</ion-select-option>
            <ion-select-option [value]="10.5">10,5%</ion-select-option>
          </app-select-input>

          <!-- Profit Percentage Input -->
          <app-number-input #formInput class="mb-8" inputName="profitPercentageInput" [(bindedObject)]="provider()!.percentages.profitPercentage" 
          label="Porcentaje de Ganancia" placeHolder="35%" [minValue]="-1" [maxValue]="9999999"></app-number-input>

          <!-- Perception Percentage Input -->
          <app-number-input #formInput class="mb-8" inputName="perceptionPercentageInput" [(bindedObject)]="provider()!.percentages.perceptionPercentage" 
          label="Porcentaje de Percepción" placeHolder="4%" [minValue]="-1" [maxValue]="9999999"></app-number-input>

          <!-- Gross Income Percentage Input -->
          <app-number-input #formInput class="mb-8" inputName="grossIncomePercentageInput" [(bindedObject)]="provider()!.percentages.grossIncomePercentage" 
          label="Porcentaje de Percepción" placeHolder="3%" [minValue]="-1" [maxValue]="9999999"></app-number-input>
    
          <app-submit-button class="mb-5" [isEdit]="isProviderEdit"></app-submit-button>
      </form>
  </div>
</ion-content>