<app-header title="CÁLCULO DE PRECIOS" titleSize="title-medium" icon="fa-solid fa-calculator fa-2x"></app-header>

<ion-content>
  <div class="pricing-menu-container mx-4 mt-8">
    <ion-button (click)="router.navigate([''])">
      <div class="option-container">
        <p class="label">CÁLCULO DE CARNE</p>
        <i class="fa-solid fa-cow fa-2x"></i>
      </div>
    </ion-button>

    <ion-button (click)="router.navigate([''])">
      <div class="option-container">
        <p class="label">CÁLCULO DE POLLO</p>
        <i class="fa-solid fa-egg fa-2x"></i>
      </div>
    </ion-button>

    <ion-button (click)="router.navigate([''])">
      <div class="option-container">
        <p class="label">CÁLCULO DE OTROS</p>
        <i class="fa-sharp fa-solid fa-box fa-2x"></i>
      </div>
    </ion-button>
  </div>
</ion-content>